*{
    margin: 0;
    padding: 0;
}
body {
    background-color:rgb(255, 255, 255);
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(12, 10, 4);
    text-align: center;
    text-shadow: 2px 4px darkgrey;

}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(5, 4, 4);


}

/*Estilos para el banner*/

#baner {
    background-image: url("../Recursos/Imagens/buen-pastor1.1000.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 200px;
}
#banner h2 {
    font-size: 48px;
    margin-bottom: 0;
}

#banner p {
    font-size: 24px;
    margin-bottom: 30px;
}
.imag{
    background-color: #ffffff;
}


.booton {
    display: inline-block;
    background-color: darkgrey;
    color: dimgray;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.booton:hover {
    background-color: dimgray;
    color: burlywood;
}